/* utility classes */
body {
  font-family: 'Open Sans', sans-serif;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-top-40 {
  margin-top: 40px;
}

.card {
  text-align: center;
  color: white;
}
/* /utility classes */

/* header site */
header {
  position: relative;
  background-image: url("../img/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: white;
}

.layover {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  background-size: cover;
}

header a {
  color: white;
}
/* nav site */
nav {
  height: 80px;
  line-height: 80px;
}

.list-inline {
  text-align: right;
}

.list-inline li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 0 10px;
}

.header-menu, .header-langs {
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header-langs li:not(last-child) a {
  border-right: 1px solid white;
}
/* /nav site */

/* hero site */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 2em;
}

.hero-content p {
  margin: 20px 0 30px 0;
}

.hero-content img {
  width: 150px;
}
/* /hero site */
/* header site */

/* main site */
/* section models */
.models .card {
  background-color: #fafafa;
  text-align: center;
  margin: 0 10px;
}

.models .card img {
  max-width: 300px;
}

.models .card img:last-child {
  max-height: 300px;
}

.card > a, .card > p, .card > img  {
  padding: 10px 0;
}

.card > a {
  display: block;
}
/* /section models */

/* section phone */
.bg-phone {
  position: relative;
  background-image: url("../img/bg_models.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.phone-center img {
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}



/* /section phone */

/* section info */
.info .row:first-child {
  background-image: url("../img/green_scooter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 350px;
  height: 350px;
}

.col-position {
  position: relative;
}

.center {
  width: 300px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(20%);
}

.left {
  background-color: #313f4c;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.left img {
  height: 420px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}
.right {
  background-image: url("../img/w_dc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.card h2 {
  font-size: 40px;
  padding-top: 50px;
}
/* /section info */
/* /main site */

/* footer site */
footer {
  background-color: black;
  color: white;
}
/* /footer site */
